<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="PubSubWriter Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <!-- Adjust if your source is in src -->
            <file>index.php</file> <!-- Include index.php for coverage -->
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">tests</directory>
        </exclude>
    </coverage>
</phpunit>
