{
    "firestore": [
        {
            "backup_type": "collection_group",
            "path": "daily-quotes-test/quotes"
        },
        {
            "backup_type": "document",
            "path": "daily-quotes-test/admin"
        }
    ],
    "storage": {
        "bucket": "backup_firestore_XXXX"
    }
}
